<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <script src="https://kit.fontawesome.com/1799259c11.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div id="main-container">

        <div id="heading-container">
            <i class="fa-solid fa-address-book"></i>
            <h1 id="heading">
                My Contacts List
            </h1>
        </div>

        <div id="contacts">
            <% for(let contact of contacts){ %>
                <div class="contact">
                    <p id="name"> <%= contact.name  %>  </p>
                    <div class="delete-container">
                        <p id="phone"> <%= contact.phone  %>  </p>
                        <a href="/delete-contact/?contactId=<%= contact._id  %> "><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>    
            <%} %> 
        </div>

        <div id="add-contact-container">
            <form action="/create-contact" method="post">
                <input type="text" name="name" placeholder="Name" required>
                <input type="number" name="phone" placeholder="Number" required>
                <button type="submit">Add</button>
            </form>
        </div>

    </div>

    <script src="/js/home.js"></script>
</body>
</html>